<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Prueba Merqueo</title>
  {{ style('style') }}
</head>
<body>
  <section>
    <div class="logo"></div>
    <div class="subtitle">
      <p>Click <a href="https://github.com/KevinAndrey96/PruebaMerqueo">aquí</a> para ver el repositorio</p>
      <p>Hecho por: Kevin Andrey Herrera Silva</a>.
      </p>
    </div>
  </section>
</body>
</html>
